body {
    font-family: 'Jua', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.profile_container {
    display: flex;
}

.user_profile {
    border: 3px solid rgb(184, 184, 184);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 18px;
    padding: 12px;
}

.user_profile img {
    width: 256px;
    border-radius: 8px;
}

.user_profile p {
    font-size: 24px;
}

.user_profile button {
    font-family: inherit;
    font-size: 18px;
    background-color: inherit;
    border-radius: 8px;
    text-align: center;
    padding: 4px 8px 2px 8px;
}

.user_profile button:hover {
    background-color: aliceblue;
}

.articles_logo {
    font-size: 24px;
}

.articles {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.articles_all {
    display: flex;
    margin: -1rem;
    flex-wrap: wrap;
    padding-left: 5px;
}

.article_card {
    width: 10rem;
    height: 10rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    overflow: hidden;
    margin: 16px;
}

.article_card:hover {
    transform: translateY(-10px);
}

.article_container {
    padding: 16px;
    overflow: hidden;
}

.article_container img {
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 50px;
    border-radius: 4px;
}

.article_container h3 {
    font-size: 16px;
}

.article_container p {
    font-size: 14px;
}


.follows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, auto));
    grid-template-rows: repeat(auto-fill, minmax(12px, auto));
}

.follows p {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
    padding: 4px 8px;
    text-align: center;
    margin-right: 8px;
}

.profile_btn {
    display: flex;
    justify-content: end;
    margin: 12px;
}

.profile_btn button {
    font-family: inherit;
    font-size: 18px;
    background-color: inherit;
    border-radius: 8px;
    text-align: center;
    padding: 4px 8px 2px 8px;
}

.profile_btn button:hover {
    background-color: rgb(53, 154, 243);
    color: aliceblue;
}

.back_btn {
    margin-left: 18px;
}

/* 프로필 수정하기 css */
.edit_container {
    border: 2px solid rgb(184, 184, 184);
    border-radius: 8px;
    margin: 18px;
    display: flex;
    flex-direction: column;
}

.edit_profile {
    display: flex;
    justify-content: center;
}

.edit_profile img {
    width: 424px;
    border-radius: 8px;
    margin: 30px;
}

.edit_profile p {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 40px;
    font-size: 45px;
}

.edit_profile_input {
    display: flex;
    flex-direction: column;
    margin: 18px 250px;
}

.edit_profile_input input {
    width: 70%;
}

.edit_profile_image {
    margin-bottom: 12px;
}

.edit_profile_btn {
    display: flex;
    justify-content: flex-end;
    margin: 18px;
}

.withdRaw {
    background-color: brown;
    color: aliceblue;
}

.edit_profile_btn button {
    font-family: inherit;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    padding: 4px 8px 2px 8px;
    margin-left: 18px;
}

.edit_profile_btn button:hover {
    cursor: pointer;
    background-color: rgb(45, 45, 45);
    color: aliceblue;
}