body {
    font-family: 'Jua', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-nav {
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
    margin: 18px;
    padding: 12px;
    border-radius: 8px;
}

.header-nav button {
    font-family: inherit;
    font-size: 18px;
    border: none;
    background-color: inherit;
    border-radius: 8px;
    text-align: center;
    padding: 4px 8px 2px 8px;
}

.header-nav button:hover {
    background-color: aliceblue;
}