.articles_container {
    margin: 18px;
    display: flex;
    justify-content: center;
}

.article_image {
    display: flex;
    flex-direction: column;
}

.article_image img {
    width: 340px;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.article_text {
    margin-left: 4rem;
    box-sizing: content-box;
}

.article_title {
    display: flex;
    flex-direction: column;
}

.article_title_section {
    display: flex;
    height: 40px;
    align-content: start;
    flex-wrap: wrap;
}

#article_title {
    display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 12px;
}

.article_content_likes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 70%;
}

.article_content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.article_content h3 {
    margin: 0;
}

.article_content p {
    margin: 0;
}

.article_like {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.article_like button {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    height: 30px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.article_like button:hover {
    cursor: pointer;
    color: rgb(11, 11, 11);
    background-color: rgb(120, 231, 234);
}

.article_controll_btn {
    display: flex;
    justify-content: flex-end;
    margin: 18px;
}

.article_controll_btn button {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    height: 30px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.article_controll_btn button:hover {
    cursor: pointer;
    color: rgb(11, 11, 11);
    background-color: rgb(120, 231, 234);
}

.article_title_box {
    height: 20px;
    width: 200px;
    font-size: 100%;
    font-family: inherit;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.article_content_box {
    font-size: 100%;
    font-family: inherit;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.comment_form {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 38px 0;
}

.comment_form input {
    height: 30px;
    width: 50%;
    font-size: 25px;
    font-family: inherit;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 12px;
}

.comment_form input:focus {
    outline: none;
    border: 2px solid rgb(54, 156, 141);
}

.comment_form button {
    height: 58px;
    margin-left: 20px;
    background-color: inherit;
    border-radius: 12px;
    padding: 12px;
    font-size: 25px;
    font-family: inherit;
    display: flex;
    align-items: center;
}

.comment_form button:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.comment_views {
    margin: 18px;
}

.comment_views p {
    margin-left: 18px;
    font-size: 24px;
}

.comment_list {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_list button {
    align-items: center;
    background-color: inherit;
    border-radius: 12px;
    margin: 0 6px;
    font-family: inherit;
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.comment_list button:hover {
    cursor: pointer;
    background-color: rgb(54, 156, 141);
    color: aliceblue;
}

.comment_edit_input {
    height: 20px;
    width: 500px;
    font-size: 100%;
    font-family: inherit;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.comment_edit_input:focus {
    outline: none;
    border: 2px solid rgb(54, 156, 141);
}

