<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <!-- 아이콘 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/users/profile.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/static/js/users/profile.js"></script>
    <title>Profile</title>
</head>
<body>
    <header></header>
    <main class="profile_container">
        <section class="user_profile">
            <img alt="profile_image" id="profile_image">
            <div>
                <p id="email"></p>
                <button type="button" id="follow_button"  onclick="userFollow()"></button>
            </div>
        </section>

        <section class="articles_container">
            <div class="articles">
                <p class="articles_logo">내가 작성한 게시글</p>
                <ul id="user_articles" class="articles_all"></ul>
            </div>
            <div class="articles">
                <p class="articles_logo">내가 좋아요한 게시글</p>
                <ul id="user_like_articles" class="articles_all">
                    
                </ul>
            </div>
            <div>
                <details>
                    <summary>팔로우 보기</summary>
                    <div id="follows" class="follows"></div>
                </details>
            </div>
            <div class="profile_btn">
                <a id="profile_edit_page">
                    <button id="profile_edit_btn" type="button" style="display:none;">수정하기</button>
                </a>
                <button type="button" class="back_btn" onclick="history.back()">뒤로가기</button>
            </div>
        </section>
    </main>
</body>
<script src="/static/js/nav.js"></script>
</html>