<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/users/signup.css">
  <link rel="stylesheet" href="/static/css/users/nav.css">
  <script src="/static/js/nav.js"></script>
  <script src="/static/js/users/signup.js"></script>
  <script src="/static/js/users/api.js"></script>
  <title>회원가입</title>
<body>
<header></header>
<div class="signup-container">
  <input type="email" class="signup-input" id="email" placeholder="이메일">
  <input type="password" class="signup-input" id="password" placeholder="비밀번호">
  <input type="password" class="signup-input" id="password-check" placeholder="비밀번호 확인">
  <input type="image_keyword" class="signup-input" id="image_keyword" placeholder="이미지 키워드">
  <button class="signup-button" onclick="handleSignup()">회원가입</button>
  <div class="already">
    <a href="/users/login.html" class="link-success">이미 계정이 있다면?</a>
</div>
</div>
</body>
</html>